<%- include('partials/header.ejs') %>

    <% if (posts.length === 0) { %>
        <h3>No posts yet!</h3>
    <% } else {  %>
        <ul>
            <% posts.forEach((post) => { %>
                <li>
                    <p><%= post.date %></p>
                    <h3><a href="/view/<%= posts.indexOf(post) %>"><%= post.title %></a></h3>
                    <p><%= post.content %></p>
                    <hr
                </li>
            <% }); %>
        </ul>
    <% } %>
    <a href="/create"><button>Create Post</button></a>
    
<%- include('partials/footer.ejs') %>